.shopping-cart {
    margin-top: 100px;
    min-height: 75vh;
}

.product-image {
    max-width: 150px;
}

.removeBtn {
    text-decoration: none !important;
    color: black !important;
}

.quantityInput {
    width: 50px;
}

.checkoutBtn {
    width: 100px;
    margin-bottom: 100px !important;
}
