<div class="container">
    <div class="row">
        <div class="col-12 text-center border border-3 border-dark py-5">
            <h1 mat-dialog-title>WE WANT TO MEET YOU</h1>
            <div mat-dialog-content>
                <p>Please, Log In to continue enjoying shopping on our site!</p>
            </div>
            <div mat-dialog-actions>
                <button mat-button routerLink="/login" class="btn btn-dark mx-auto text-center" (click)="closeDialog()">LOG IN</button>
            </div>
        </div>
    </div>
</div>