<div class="container">
    <div class="row">
        <div class="col-12 text-center border border-3 border-dark py-5">
            <h1 mat-dialog-title>Thank you for registering!</h1>
            <div mat-dialog-content>
                <p>We have sent you a verification e-mail.</p>
                <p>Please check your mailbox and click on the link to verify your e-mail address.</p>
            </div>
            <div mat-dialog-actions class="mx-auto text-center justify-content-center">
                <button mat-button (click)="resendEmail()" class="btn btn-dark mx-1 text-center">Resend verification e-mail</button>
                <button mat-button routerLink="/login" (click)="closeDialog()" class="btn btn-dark mx-1 text-center">LOG IN</button>
            </div>
        </div>
    </div>
</div>