<div class="container product-description mt-5">
    <div class="row">
        <p class="col-12 col-md-8"> Home / Shop /
            <ng-template [ngIf]="selectedProduct.catId==1">
                <span>Sympathy</span>
            </ng-template>
            <ng-template [ngIf]="selectedProduct.catId==2">
                <span>Anniversary</span>
            </ng-template>
            <ng-template [ngIf]="selectedProduct.catId==3">
                <span>Congratulations</span>
            </ng-template>
            <ng-template [ngIf]="selectedProduct.catId==4">
                <span>Get Well</span>
            </ng-template>
            / {{ selectedProduct.name }}
        </p>
        <div class="col-12 col-md-4 text-end d-inline mb-4">
            <button class="btn btn-light" (click)="previousProduct()"> &lt; Prev</button> |
            <button class="btn btn-light" (click)="nextProduct()">Next &gt; </button>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-6 col-12 text-center">
                <img [src]="selectedProduct.imgSrc" class="img-fluid me-2 mb-3 product-image" alt="product flowers">
            </div>
            <div class="col-lg-6 col-12">
                <h4 class="mx-3">{{selectedProduct.name}}</h4>
                <p class="mx-3 fw-bold">{{selectedProduct.price}}$</p>
                <p class="mx-3">{{selectedProduct.description}}</p>
                <hr>
                <form class="mx-3">
                    <label for="quantity" class="form-label">Quantity:</label>
                    <input type="number" class="form-control border rounded-0 mb-3 flower-input" id="quantity" min="1"
                        max="100" #quantity>
                    <button type="button" class="btn btn-dark mb-4"
                        (click)="onAddToCart(selectedProduct, quantity.value)">Add To
                        Cart</button>
                </form>
            </div>
        </div>
    </div>
</div>