<div class="container">
    <div class="row">
        <div class="login-background col-12 text-center">

            <h3>Log In</h3>
            <p><small>New to this site? <span><a class="text-dark" routerLink="/signup">Sign up</a></span></small></p>

            <form class="mt-5" (ngSubmit)="onSubmit()" #logInForm="ngForm">
                <div class="form-group text-style">
                    <label for="logInEmail">E-mail</label>
                    <input type="email" id="logInEmail" class="form-control" ngModel name="logInEmail" required email
                        #logInEmail="ngModel">
                    <div *ngIf="logInForm && logInEmail">
                        <span class="error-msg"
                            *ngIf="!logInEmail?.valid && logInForm.controls['logInEmail'].touched">
                            <span *ngIf="logInForm.controls['logInEmail'].errors?.['required']">
                                E-mail is required.
                            </span>
                            <span *ngIf="logInForm.controls['logInEmail'].errors?.['email']">
                                E-mail must be valid.
                            </span>
                        </span>
                    </div>
                </div>

                <div class="form-group text-style">
                    <label for="logInPassword">Password</label>
                    <input type="password" id="logInPassword" class="form-control" ngModel name="logInPassword" required
                        minlength="5" #logInPassword="ngModel">
                    <div *ngIf="logInForm">
                        <span class="error-msg"
                            *ngIf="!logInPassword?.valid && logInForm.controls['logInPassword'].touched">
                            <span *ngIf="logInForm.controls['logInPassword'].errors?.['required']">
                                Password is required.
                            </span>
                            <span *ngIf="logInForm.controls['logInPassword'].errors?.['minlength']">
                                Password must contain at least 5 characters.
                            </span>
                        </span>
                    </div>
                </div>

                <div class="text-style mt-3">
                    <a class="text-dark text-decoration-none" href="#">Forgot password?</a> <br>
                    <button class="btn btn-outline-secondary mt-2" type="submit" [disabled]="!logInForm.valid">Log
                        in</button>
                </div>
            </form>

        </div>
    </div>
</div>