<div class="container">
    <div class="row">
        <div class="signup-background col-12 text-center">

            <h4>Sign Up</h4>

            <form class="mt-3" (ngSubmit)="onSubmit()" #signUpForm="ngForm">
                <div class="form-group text-style">
                    <label for="nameSignUp">First name</label>
                    <input type="text" id="nameSignUp" class="form-control form-control-sm" ngModel name="nameSignUp"
                        required #nameSignUp="ngModel" minlength="5">
                    <div *ngIf="signUpForm && nameSignUp">
                        <span class="error-msg"
                            *ngIf="!nameSignUp?.valid && signUpForm.controls['nameSignUp'].touched">
                            <span *ngIf="signUpForm.controls['nameSignUp'].errors?.['required']">
                                First name is required.
                            </span>
                            <span *ngIf="signUpForm.controls['nameSignUp'].errors?.['minlength']">
                                First name must contain at least 5 characters.
                            </span>
                        </span>
                    </div>
                </div>

                <div class="form-group text-style">
                    <label for="surnameSignUp">Last name</label>
                    <input type="text" id="surnameSignUp" class="form-control form-control-sm" ngModel
                        name="surnameSignUp" required #surnameSignUp="ngModel" minlength="5">
                    <div *ngIf="signUpForm">
                        <span class="error-msg"
                            *ngIf="!surnameSignUp?.valid && signUpForm.controls['surnameSignUp'].touched">
                            <span *ngIf="signUpForm.controls['surnameSignUp'].errors?.['required']">
                                Last name is required.
                            </span>
                            <span *ngIf="signUpForm.controls['surnameSignUp'].errors?.['minlength']">
                                Last name must contain at least 5 characters.
                            </span>
                        </span>
                    </div>
                </div>

                <div class="form-group text-style">
                    <label for="signUpEmail">E-mail</label>
                    <input type="email" id="signUpEmail" class="form-control form-control-sm" ngModel name="signUpEmail"
                        required email #signUpEmail="ngModel">
                    <div *ngIf="signUpForm && signUpEmail">
                        <span class="error-msg"
                            *ngIf="!signUpEmail?.valid && signUpForm.controls['signUpEmail'].touched">
                            <span *ngIf="signUpForm.controls['signUpEmail'].errors?.['required']">
                                E-mail is required.
                            </span>
                            <span *ngIf="signUpForm.controls['signUpEmail'].errors?.['email']">
                                E-mail must be valid.
                            </span>
                        </span>
                    </div>
                </div>

                <div class="form-group text-style">
                    <label for="signUpPassword">Password</label>
                    <input type="password" id="signUpPassword" class="form-control form-control-sm" ngModel
                        name="signUpPassword" required minlength="5" #signUpPassword="ngModel">
                    <div *ngIf="signUpForm">
                        <span class="error-msg"
                            *ngIf="!signUpPassword?.valid && signUpForm.controls['signUpPassword'].touched">
                            <span *ngIf="signUpForm.controls['signUpPassword'].errors?.['required']">
                                Password is required.
                            </span>
                            <span *ngIf="signUpForm.controls['signUpPassword'].errors?.['minlength']">
                                Password must contain at least 5 characters.
                            </span>
                        </span>
                    </div>
                </div>

                <div class="text-style mt-3">
                    <a class="text-dark text-decoration-none" href="#">Forgot password?</a> <br>
                    <button class="btn btn-outline-secondary form-control-sm mt-3" type="submit"
                        [disabled]="!signUpForm.valid">Sign Up</button>
                </div>
                <p><small>Already a member? <span><a class="text-dark" routerLink="/login">Log in</a></span></small></p>
            </form>

        </div>
    </div>
</div>