.header-img {
    background-image: url(/../../assets/home/flowerBackground1.jpg);
    background-size: cover;
    background-position: center;
    min-height: 550px;
    margin-top: 75px;
    padding-top: 200px;
}

.grid-item {
    max-width: 275px;
}

.border-bottom {
    border-width: 0 0 1px 0 !important;
}

#subscribeButton {
    margin-top: 32px !important;
}

.getwell-pink {
    background-color: #FFA7B6;
    min-height: 400px;
    padding-top: 150px;
}

.getwell-flowers {
    background-image: url(/../../assets/home/FTD_SplitBanner_Merx_1.png);
    background-size: cover;
    background-position: center;
    min-height: 400px;
}
