<!-- HEADER BANNER  -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 header-img text-end pe-5">
            <h1>March into spring!</h1>
            <p class="pt-1">Bring the meadow to them with a daisy bouquet.</p>
            <button class="btn btn-secondary">SHOP FLOWERS</button>
        </div>
    </div>
</div>

<!-- TEXT SECTION  -->
<div class="container">
    <div class="row">
        <div class="my-5 col-10 col-sm-8">
            <p>That Flower shop is a Brisbane based floral studio, established in 2013.
                Our infatuation and respect for mother nature’s artistry is at the forefront of our carefully curated
                floral
                arrangements, wedding flower arrangements, corporate flowers and flower bouquets for special occasions.
                We also offer flower delivery services across Brisbane City and surrounding suburbs. <br><br>

                That flower shop specialises in providing florals for any occasion arrangements for corporate offices,
                weddings & events
                as well as bespoke arrangements and gifts for someone special. Shop flowers for delivery online or come
                and visit the team
                in store.That Flower shop is a Brisbane based floral studio, established in 2013. Our infatuation and
                respect for
                mother nature’s artistry is at the forefront of our carefully curated floral arrangements.
                The team is devoted to bringing the thoughtfulness of flowers to every occasion, providing styling
                advice and
                florals for weddings, events, funerals and corporate spaces as well as daily orders and deliveries
                across Brisbane. </p>
        </div>
    </div>
</div>

<!-- GRID FLOWERS  -->
<div class="container text-center">
    <div class="row align-items-center justify-content-center">
        @for(flower of flowers; track flower){
        <div class="col-lg-3 col-md-6 grid-item m-3">
            <img [src]="flower.imgSrc" class="img-fluid" alt="flowers">
            <h6 class="mt-1">{{ flower.name }}</h6>
            <p>{{ flower.price }}$</p>
        </div>
        }
    </div>
    <button class="btn btn-outline-secondary mb-5" (click)="loadShop()">Load more</button>
</div>

<!-- FORM & INFO  -->
<div class="container text-start">
    <div class="row">
        <div class="col-md-3 col-11">
            <p>Send us a message <br>
                A: Laze Nancica 7, 21000 Novi Sad <br><br>

                T: 021/123-456 <br><br>

                office&#64;smartinit.net <br><br>

                MON-FRI: 7am - 10pm <br>
                SATURDAY: 8am - 10pm <br>
                SUNDAY: - <br> <br>

                FAQ / <br>
                Shipping & Returns / <br>
                Store Policy / <br>
                Payment Methods / <br>
            </p>
        </div>

        <div class="col-md-6 col-11">
            <form class="row g-3">
                <div class="col-md-6">
                    <label for="inputName" class="form-label">Name</label>
                    <input type="text" class="form-control border-bottom border-dark rounded-0" id="inputName">
                </div>
                <div class="col-md-6">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" class="form-control border-bottom border-dark rounded-0" id="inputEmail">
                </div>
                <div class="col-12">
                    <label for="inputSubject" class="form-label">Subject</label>
                    <input type="text" class="form-control border-bottom border-dark rounded-0" id="inputSubject">
                </div>
                <div class="col-12">
                    <label for="inputMessage" class="form-label">Message</label>
                    <textarea class="form-control border-bottom border-dark rounded-0" id="inputMessage"
                        rows="3"></textarea>
                </div>
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-outline-secondary mb-4">SEND</button>
                </div>
            </form>

            <form>
                <div class="row">
                    <div class="col-md-6">
                        <label for="inputNewsletter" class="form-label">Get our newsletter</label>
                        <input type="email" class="form-control border border-dark rounded-0" id="inputNewsletter"
                            placeholder="Enter your e-mail here">
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-dark rounded-0 mb-3" id="subscribeButton">Subscribe Now</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- SHOP GETWEL FLOWERS -->
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-6 text-center text-light getwell-pink">
            <h2>Send Get Well Wishes</h2>
            <p>Brighten their recovery with beautiful florals, plants and gifts that will express your well wishes.</p>
            <button class="btn btn-secondary rounded-pill btn-sm fw-bold">SHOP GET WELL FLOWERS & GIFTS</button>
        </div>
        <div class="col-md-6 getwell-flowers">
        </div>
    </div>
</div>
