.checkout-form {
    padding-top: 50px;
}

.border-bottom {
    border-width: 0 0 1px 0 !important;
}

input.ng-invalid.ng-touched{
    border-bottom: 1px solid red !important;
}

.error-msg{
    color: red;
    font-size: 12px;
}
