<div class="container checkout-form mt-5">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-10">
            <form [formGroup]="checkoutForm" (ngSubmit)="onConfirm()">

                <div class="form-group">
                    <div class="form-floating mb-1">
                        <input type="text" class="form-control border-bottom" id="name" name="name"
                            formControlName="name" placeholder="name">
                        <label for="name">First name <span style="color: red;">*</span>:</label>
                        <div *ngIf="checkoutForm && checkoutForm.controls['name']">
                            <span class="error-msg"
                                *ngIf="!checkoutForm.controls['name'].valid && checkoutForm.controls['name'].touched">
                                <span *ngIf="checkoutForm.controls['name'].errors?.['required']">
                                    First name is required.
                                </span>
                                <span *ngIf="checkoutForm.controls['name'].errors?.['minlength']">
                                    First name must contain at least 3 characters.
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-floating mb-1">
                        <input type="text" class="form-control border-bottom" id="surname" name="surname"
                            formControlName="surname" placeholder="surname">
                        <label for="surname">Last name <span style="color: red;">*</span>:</label>
                        <div *ngIf="checkoutForm && checkoutForm.controls['surname']">
                            <span class="error-msg"
                                *ngIf="!checkoutForm.controls['surname'].valid && checkoutForm.controls['surname'].touched">
                                <span *ngIf="checkoutForm.controls['surname'].errors?.['required']">
                                    Last name is required.
                                </span>
                                <span *ngIf="checkoutForm.controls['surname'].errors?.['minlength']">
                                    Last name must contain at least 3 characters.
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control border-bottom" id="email" name="email"
                            formControlName="email" placeholder="email">
                        <label for="email">E-mail address <span style="color: red;">*</span>:</label>
                        <span class="error-msg"
                            *ngIf="!checkoutForm.controls['email'].valid && checkoutForm.controls['email'].touched">
                            <span *ngIf="checkoutForm.controls['email'].errors?.['required']">
                                E-mail is required.
                            </span>
                            <span *ngIf="checkoutForm.controls['email'].errors?.['email']">
                                E-mail must be valid.
                            </span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control border-bottom" id="phone" name="phone"
                            formControlName="phone" placeholder="phone">
                        <label for="phone">Phone number <span style="color: red;">*</span>:</label>
                        <span class="error-msg"
                            *ngIf="checkoutForm.controls['phone'].errors?.['required'] && checkoutForm.controls['phone'].touched">
                            Phone number is required.
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-floating mb-1">
                        <input type="text" class="form-control border-bottom" id="address" name="address"
                            formControlName="address" placeholder="address">
                        <label for="phone">Address <span style="color: red;">*</span>:</label>
                        <div *ngIf="checkoutForm && checkoutForm.controls['address']">
                            <span class="error-msg"
                                *ngIf="!checkoutForm.controls['address'].valid && checkoutForm.controls['address'].touched">
                                <span *ngIf="checkoutForm.controls['address'].errors?.['required']">
                                    Address is required.
                                </span>
                                <span *ngIf="checkoutForm.controls['address'].errors?.['minlength']">
                                    Address must contain at least 3 characters.
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-floating mb-4">
                        <textarea class="form-control border-bottom" id="comment" name="comment"
                            formControlName="comment" placeholder="comment">
                        </textarea>
                        <label for="comment">Comment: </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="mb-4">
                        <label for="payment" class="ms-2 mb-2">Payment method<span style="color: red;">*</span>:</label>
                        <select class="form-select border-bottom" id="payment" name="payment" formControlName="payment">
                            <option value="Credit Card">Credit Card</option>
                            <option value="PayPal">PayPal</option>
                            <option value="Payment on Delivery">Payment on Delivery</option>
                        </select>
                    </div>
                </div>

                <button class="btn btn-dark mt-5 px-5 d-grid mx-auto" type="submit">Confirm</button>
            </form>
        </div>
    </div>
</div>